<div class="container">
	<div class="row">
        <div class="col-md-12">
            <h2>Daily Progress</h2>
        </div>
	</div>
    <div class="row">
        <div class="col-md-3">
          <ul data-pie-id="svg">
            <li data-value="60">Water Buffalo (60)</li>
            <li data-value="20">Bison (20)</li>
            <li data-value="12">Sheep (12)</li>
            <li data-value="32">Goat (32)</li>
            <li data-value="50">Shetland Pony (50)</li>
          </ul>
        </div>
        <div class="col-md-3">
          <div id="svg" height="400" width="400"></div>
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/pizza-pie-chart.css" />
<script src="~/lib/bootstrap/dist/js/pizza-pie-chart.js" type="text/javascript"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/snap.svg/0.1.0/snap.svg-min.js"></script>
