@model WebbyWeb.Models.RegistrationViewModel

@{
    Layout = "/Views/Shared/_IndexLayout.cshtml";
}

<title>Forgot Password</title>

<div class="header" style="text-align:center">

</div>
<div class="card card-signup" id="signUpCard">
    <div class="header header-primary text-center" style="background:linear-gradient(60deg, #e2a7ec, #337ab7)">
            <img src="/images/pyramid.png" style="width:60px; filter:invert(100%)">
		</div>
    <!-- Begin Login Form -->
	<form class="form" method="post" id="ForgotPasswordForm" asp-controller="Home" asp-action="ForgotPassword">
		<div asp-validation-summary="All" class="text-danger"></div>
			<div class="content">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">face</i>
                    </span>
                    <!-- <input type="text" class="form-control" placeholder="username..." /> -->
                    <input asp-for="Email" type="text" class="form-control" placeholder="input email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="login" style='text-transform:lowercase' class="btn btn-primary btn-md" />
            </div>
        </form>
        <div class="footer text-center">
            <a asp-controller="Home" asp-action="Login" id="LoginBtn" style="text-transform:lowercase" class="btn btn-simple btn-primary btn-lg">login</a>
        </div> 
</div> 
<br>

<script>
    $(function FormatPage(){
        $('#mainCard')[0].className='main';
        $('#mainCard')[0].style.margin='auto';
        $('#mainCard')[0].style.marginTop='40px';
        $('#mainCard')[0].style.width='50%';
    });
</script>