@model WebbyWeb.Models.RegistrationViewModel
@{
    ViewData["Title"] = "Home Page";
}



<div class="header" style="text-align:center">
    <!-- <div class="brand"><h1>pyramid</h1></div> -->
    <!-- <img src="/images/pyramid_BandW.jpg" style="width:750px;"> -->
</div>


<div class="card card-signup" id="signUpCard">
    <div class="header header-primary text-center" style="background:linear-gradient(60deg, #e2a7ec, #337ab7)">
            <img src="/images/pyramid.png" style="width:60px; filter:invert(100%)">
		</div>
    <!-- Begin Login Form -->
	<form class="form" id="LoginForm" style="display:none" asp-controller="Profile" asp-action="Login">
        <!-- <p class="text-divider" >login</p> -->
			<div class="content">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">face</i>
                    </span>
                    <input asp-for="UserName" type="text" class="form-control" placeholder="username..." />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock_outline</i>
                    </span>
                    <input asp-for="Password" type="password" placeholder="password..." class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="optionsCheckboxes" >
                        remember me
                    </label>
                </div>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="login" style='text-transform:lowercase' class="btn btn-primary btn-md" />
            </div>
        </form>
        <!-- End Login Form -->
        <!-- Begin Register Form -->
        <form class="form" id="RegisterForm" style="display:none" asp-controller="Profile" asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- <p class="text-divider">register</p> -->
			<div class="content">
                <div class="input-group">
                    <span class="input-group-addon"><i class="material-icons">face</i></span>
                    <input asp-for="UserName" type="text" class="form-control" placeholder="username" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="material-icons">lock_outline</i></span>
                    <input asp-for="Password" type="password" placeholder="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="material-icons">lock_outline</i></span>
                    <input type="password" placeholder="confirm password" class="form-control" />
				    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="register" style='text-transform:lowercase' class="btn btn-primary btn-md" />
            </div>
        </form>
        <!-- End Register Form -->
        <div class="footer text-center">
            <a href="#pablo" id="LoginBtn" style="text-transform:lowercase" class="btn btn-simple btn-primary btn-lg">login</a>
            <button id= "RegisterBtn" style='text-transform:lowercase' class="btn btn-simple btn-primary btn-lg">register</button>
        </div>
</div> 


<br>

<script>
    FormatPage();

    function FormatPage(){
        $('#mainCard')[0].className='main';
        $('#mainCard')[0].style.margin='auto';
        $('#mainCard')[0].style.marginTop='40px';
        $('#mainCard')[0].style.width='50%';

        $('#RegisterBtn').click(function(event){
            event.preventDefault();
            $('#LoginForm')[0].style.display='none';
            $('#RegisterForm')[0].style.display='block';
        });
        $('#LoginBtn').click(function(event){
            event.preventDefault();
            $('#RegisterForm')[0].style.display='none';
            $('#LoginForm')[0].style.display='block';
        });
    };

    

    
</script>
