
<div class="row">
    <div class="col-md-3" style="width: 220px;padding-right: 0;margin-right: 0;">
    <ul class="nav nav-pills nav-pills-info" role="tablist">
        <li class="active">
            <a id="weekPill" role="tab" data-toggle="tab">
                <!-- <i class="material-icons">dashboard</i> -->
                <span style="text-transform:lowercase">week</span>
            </a>
        </li>
        <li>
            <a id="monthPill" role="tab" data-toggle="tab">
                <!-- <i class="material-icons">dashboard</i> -->
                <span style="text-transform:lowercase">month</span>
            </a>
        </li>
    </ul>
    </div>
    <div class="col-md-3 dropdown" style="margin:0; padding:0; text-align:left">
        <a style="margin:0; text-transform:lowercase" class="btn btn-simple btn-primary dropdown-toggle" data-toggle="dropdown">
            habits
            <b class="caret"></b>
        </a>
        <ul id="habitListDropdown" class="dropdown-menu">
        </ul>
    </div>
    
      
</div>


<div class="row">
    <div class="col-md-2"></div>
    <div id="ChartContainer" class="col-md-7" >
        <canvas id="ChartCanvas"></canvas>
    </div>
</div>

<script>
    $(function(){
        FormatPage();
        PopulatePage();
        GetHabits().then(ListHabits);
    })
  

  function CreatePieChart(data){

    var weekPtsPossible = data.weeklyPtsPossible;
    var weekPtsGained = data.weeklyProgress;
    var monthPtsPossible = data.monthlyPtsPossible;
    var monthPtsGained = data.monthlyProgress;
    if (weekPtsGained <0)
    {
        weekPtsGained = 0;
    };
    if (monthPtsGained <0)
    {
        monthPtsGained = 0;
    };

    var weekPtsLeft = weekPtsPossible-weekPtsGained;
    var monthPtsLeft = monthPtsPossible-monthPtsGained;


    var ctxP1 = document.getElementById("ChartCanvas").getContext('2d');

    //color gradients
    var gradientBlue = ctxP1.createLinearGradient(0, 0, 700, 700);
    gradientBlue.addColorStop(0, 'blue');
    gradientBlue.addColorStop(1, 'white');
    var gradientGreen = ctxP1.createLinearGradient(0, 0, 700, 700);
    gradientGreen.addColorStop(0, 'green');
    gradientGreen.addColorStop(1, 'white');

    
    window.Chart = new Chart(ctxP1, {
        type: 'doughnut',
        data: {
            labels: ["complete", "left"],
            datasets: [
                {
                    data: [weekPtsGained, weekPtsLeft],
                    backgroundColor: [gradientBlue, gradientGreen],
                    hoverBackgroundColor: ["rgba(0,0,255,0.5)", "rgba(26, 168, 64, 0.6)"],
                    hoverBorderWidth:[3,3],
                    borderWidth:3
                }
            ]
        },
        options: {
            responsive: true,
            legend:{
                display:true,
                position:"bottom",
                labels:{
                    boxWidth:20,
                    fontSize:14
                }
            },
            cutoutPercentage:40,
            animation:{
                easing: "easeOutBounce"
            },
            title:{
                display:true,
                text:"week",
                position: "top",
                lineHeight:1.5
            }
        }    
    });

    $('#weekPill').click(function(){
      window.Chart.data.datasets[0].data[0] = weekPtsGained;
      window.Chart.data.datasets[0].data[1] = weekPtsLeft;
      window.Chart.options.title.text="week";
      window.Chart.update();
    });

    $('#monthPill').click(function(){
      window.Chart.data.datasets[0].data[0] = monthPtsGained;
      window.Chart.data.datasets[0].data[1] = monthPtsLeft;
      window.Chart.options.title.text="month";
      window.Chart.update();
    });

  };

  // get progress and create pie chart
  function PopulatePage(){
      $.ajax(
              {
                  type:"GET",
                  url:"/Home/GetProgress",
                  success: function(data){
                      CreatePieChart(data);
                  }
              }
          );
  };

  function GetHabits(){
      return $.ajax(
          {
              type:"GET",
              url:"/Habit/GetHabitsForProfile",
              dataType:"json"
          }
      )
  };

  function ListHabits(results)
  {
      for(let i =0; i<results.length;i++){
        var newListItem = document.createElement("li");
        newListItem.innerText=results[i].name;
        $('#habitListDropdown')[0].appendChild(newListItem);
        }

  }

  function FormatPage(){
    //$('#mainCard')[0].className='main';
    //$('#mainCard')[0].style.width='500px';
    $('#mainCard')[0].style.margin='auto';
    $('#mainCard')[0].style.marginTop='-20px';
  };

</script>

<script src="~/js/chart/Chart.min.js"></script>
<!-- legend: -->
<!-- http://www.chartjs.org/docs/latest/configuration/legend.html -->
<!-- easing cheatsheet: -->
<!-- http://easings.net/ -->
