@model WebbyWeb.Models.Habit


<h2 id="title">Add Daily Habits</h2>



<div id="habitInputForm" class="form-group label-floating">
	<label class="control-label">Add a habit!</label>
	<input type="text" id="habit" class="form-control " />

    <button class="btn btn-info btn-round btn-xs" data-toggle="modal" data-target="#myModal">
        Create
    </button>

</div>

<!-- ajax submitting form to database -->
@using (Ajax.BeginForm("SaveHabit","Home", new AjaxOptions {HttpMethod = "POST"}))
{
<div class="form-horizontal">
@Html.ValidationSummary(true, "", new { @class = "text-danger" })  
            <div class="form-group">  
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })  
                <div class="col-md-10">  
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })  
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })  
                </div>  
            </div>
            <div class="form-group">  
                <div class="col-md-offset-2 col-md-10">  
                    <input type="submit" value="Save" class="btn btn-primary" />  
                </div>  
            </div> 
</div>
}
<!-- Ajax end -->

<!-- Modal Pop up Content -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Add A Habit!
            </div>
            <div class="modal-body">
                What type of habit is it?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            
        </div>
    </div>
</div>
<!-- End Modal -->

<script src="~/js/CreateHabit.js"></script>
