@model WebbyWeb.Models.Habit


<h2 id="title">Add Daily Habits</h2>

<h2 id="ShowHabits"></h2>

<div id="habitInputForm" class="form-group label-floating">
	<label class="control-label">Add a habit!</label>
	<input type="text" id="habit" class="form-control " />

    <button id="ModalButton" class="btn btn-info btn-round btn-xs" data-toggle="modal" data-target="#myModal">
        Create
    </button>

</div>


<!-- Modal Pop up Content -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 id="HabitChange"></h2>
            </div>
            <div class="modal-body">
                <form id="HabitForm" asp-action="Create">   <!-- Begin Habit form -->
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <textarea asp-for="Description" form="HabitForm" id="HabitDescription" class="form-control" placeholder="Description"></textarea>
                    <input type="text" asp-for"Description" class="form-control">
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <br>
                    
                    <!-- <span class="glyphicon glyphicon-time"></span> -->
                    <div class="row">
                        <div class="col-sm-4" style="margin-top:0px">
                            <input asp-for="Time" id="InputTime" type="time" class="form-control" >
                            <span asp-validation-for="Time" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <button id="AddTime" class="btn btn-primary btn-fab btn-fab-mini btn-round btn-xs" style"width:50%">
                                <i class="material-icons">done</i>
                            </button>
                        </div>
                        
                    </div>
                    <div class="row" id="ShowTimes">

                    </div>
                    <button id="HabitSubmit" type="submit" class="btn btn-info" >Save Habit</button>
                </form> <!-- end habit form -->
            </div>
            <div class="modal-footer">
                
            </div>
            
        </div>
    </div>
</div>
<!-- End Modal -->


<script>
    $('#AddTime').click(function(event){
        event.preventDefault();
        var insertElement = document.createElement('div');
        insertElement.innerHTML = $('#InputTime').val();
        $('#ShowTimes')[0].insertAdjacentElement('beforeend',insertElement);
    });

    function validateTextArea() {
    var x = $('#HabitDescription').val();
    if (x == "") {
        alert("Name must be filled out");
        return false;
        }
        return true;
    }



    $('#ModalButton').click(function(){ //modal title change on open
        
        $('#HabitChange')[0].innerHTML="Describe Habit:  " + $('#habit').val();
    });

    $('#HabitSubmit').click(function(){ //activate form submit
        if($('#HabitForm').valid() ==true && validateTextArea()==true)  //if form valid
        {
            $('#HabitSubmit')[0].setAttribute("data-dismiss","modal");  //dismiss modal
            var habitinsert = document.createElement('div');
            habitinsert.innerHTML=$('#habit').val();
            $('#ShowHabits')[0].insertAdjacentElement('beforeend',habitinsert);
            $('#HabitForm').submit();           //submit form to database
        }
    })

    $('#HabitForm').on("submit",function(event){    //on habit description form submit
        event.preventDefault();
        var token = $("[name='__RequestVerificationToken']").val();

        $.ajax(
            {
                type:"POST",
                url:"/Habit/Create",
                data: {
                    __RequestVerificationToken: token,
                    Name:$('#habit').val(),
                    Time:$('#InputTime').val(),
                    Description:$('#HabitDescription').val()
                }
            }
        )
        $('#habit').val("");    //clear habit name input textbox
        $('#InputTime').val("");
        $('#HabitDescription').val("");
        });
</script>










<script src="~/js/CreateHabit.js"></script>
