@model Models.Habit

<h2 id="title">Add Daily Habits</h2>



<div id="habitInputForm" class="form-group label-floating">
	<label class="control-label">Add a habit!</label>
	<input type="text" id="habit" class="form-control " />

    <button class="btn btn-info btn-round btn-xs" data-toggle="modal" data-target="#myModal">
        Create
    </button>

</div>

<!-- old Pop Up -->
<!-- <div id='HabitDetails' hidden='true'>
    <h2 id ='habitQ'></h2>
    <textarea maxlength="140" size = "100" placeholder = "Description" id="DescriptionInput"></textarea><br>    
	
	Input Time<input type="time" id="TimeSelect"><br>
	<input type="button" value="Add Time" id="AddTime"><br>
	<div id="TimesPosting"></div>
	
	Text Alarm?<input type="checkbox"><br>
	<select value="Select Tag Color">
        <option value="Blue">Blue</option>
		<option value="Red">Red</option>
        <option value="Yellow">Yellow</option>
	</select>

	<input type='button' id="HabitFinalSubmit" value="Create Habit">
</div> -->

<!--Modal Pop up Content -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Add A Habit!
            </div>
            <div class="modal-body">
                What type of habit is it?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            
        </div>
    </div>
</div>
<!-- End Modal -->

<script src="~/js/CreateHabit.js"></script>
