@model WebbyWeb.Models.Habit


<h2 id="title">Add Daily Habits</h2>



<div id="habitInputForm" class="form-group label-floating">
	<label class="control-label">Add a habit!</label>
	<input type="text" id="habit" class="form-control " />

    <button class="btn btn-info btn-round btn-xs" data-toggle="modal" data-target="#myModal">
        Create
    </button>

</div>


<!-- Modal Pop up Content -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Add A Habit!
            </div>
            <div class="modal-body">
                What type of habit is it?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            
        </div>
    </div>
</div>
<!-- End Modal -->

<!-- Ajax test -->

<form id="TestForm">
    <input type="text">
    <button class="btn-default" type="submit">Testing Ajax</button>
</form>

<script>
    
    $('#TestForm').on("submit",function(event){
        event.preventDefault();
        console.log($(this).val());
        });



</script>










<script src="~/js/CreateHabit.js"></script>
