@model WebbyWeb.Models.Habit


<h2 id="title">Add Daily Habits</h2>

<h2 id="ShowHabits"></h2>

<div id="habitInputForm" class="form-group label-floating">
	<label class="control-label">Add a habit</label>
	<input type="text" id="habit" class="form-control " />

    <button id="OpenModalButton" class="btn btn-info btn-round btn-xs"  data-target="#myModal">
        Create
    </button>

</div>



<!-- Modal Pop up Content -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 id="HabitChange"></h2>
            </div>
            <div class="modal-body">

                <form id="HabitForm" asp-action="Create">   <!-- Begin Habit form -->

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <textarea asp-for="Description" form="HabitForm" id="HabitDescription" class="form-control" placeholder="Description"></textarea>
                    <!-- <span asp-validation-for="Description" class="text-danger"></span> -->
                    <br>

                    <div class="row">
                        <div class="col-sm-4" style="margin-top:0px">
                            <input asp-for="Time" id="InputTime" type="time" class="form-control" >
                            <span asp-validation-for="Time" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <button id="AddTimeButton" class="btn btn-primary btn-fab btn-fab-mini btn-round btn-xs" style"width:50%">
                                <i class="material-icons">done</i>
                            </button>
                        </div>
                        <div id="ShowTimes" class="col-sm-3">

                        </div>
                    </div>

                    <button id="ModalButtonHabitSubmit" type="submit" class="btn btn-info" >Save Habit</button>
                </form> <!-- end habit form -->
            </div>
            <div class="modal-footer">
                
            </div>
            
        </div>
    </div>
</div>
<!-- End Modal -->


<script src="~/js/CreateHabit.js"></script>
