.container{
    background-color:rgb(250, 250, 250);
}

#calendar-container{
    width:100%;


}

#calendar-container a{
    color:#667;
    text-decoration:none
}

#calendar ul{
    list-style:none;
    padding:0;
    margin:0;
    clear:both;
    width:100%
}

#calendar li{
    display:block;
    float:left;
    width:100%;
    padding:10px 10px 10px 10px;
    box-sizing:border-box;
    margin-right: -1px;
    margin-bottom:-1px;

    border-top: solid;
    border-color:white;
    border-radius:7px;
    border-width:5px;
    background-color:rgb(250, 250, 250)

}


.Time {
    align-items: center;
    padding: 5px 7px 5px 7px;
    font-size: small;
    color: white;
    width: 70px;
    float: left;
    background: rgba(0, 126, 230, 0.52);
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.12);
    opacity: .8

}

.Times .Event {
    text-align:left;
    position:relative;
    margin-left:100px;
    width:500px;
    height:auto;
}

#calendar li .btn .btn-custom {
    background:blue;
    text-align:center;
    padding-left:10px;
    padding-bottom:0;
    padding-top:0;
    height:100px;
    width:150px;
    border-radius:10px;
    font-size:large;
    text-transform:lowercase;
    font-weight:100;
    margin:0px;
}

.affix {
    top: 0;
    width: 100%;
  }
  
  .affix-top {
    width: 100%;
  }
  
  .affix-bottom {
    position: absolute;
    width: 100%;  
  }