
#calendar-container{
    width:100%;
    


}

#calendar-container a{
    color:#667;
    text-decoration:none
}

#calendar ul{
    list-style:none;
    padding:0;
    margin:0;
    clear:both;
    width:100%
}

#calendar li{
    display:block;
    float:left;
    width:100%;
    padding:5px;
    box-sizing:border-box;
    margin-right: -1px;
    margin-bottom:-1px;

}


.Time{
    align-items:center;
    padding:7px;
    font-size:medium;
    color: white;
    width:70px;
    float:left;
    background: lightblue;
    border-radius:25px;
    text-align:center;
    font-weight: bold;

}

.Times .Event {
    text-align:left;
    position:relative;
    margin-left:100px;
    width:500px;
    height:auto;
}

#calendar li .btn .btn-custom {
    background:blue;
    text-align:center;
    padding-left:10px;
    padding-bottom:0;
    padding-top:0;
    height:100px;
    width:150px;
    border-radius:10px;
    font-size:large;
    text-transform:lowercase;
    font-weight:100;
    margin:0px;
}

